
<%#= form_for(@script_step) do |f| %>
  <%#= for step in @script_step.all_scripts_description.steps.split(" ") do %>
<!--    <%#= f.steps.check_box step %> <%#= step %>  <br>-->
    <%#= check_box_tag(step) %>
    <%#= label_tag(step, step) %>
  <%# end %>
  <%#= f.submit %>
<%# end %>
<%= form_for @script_step do |f| %>

  <%= f.fields_for :step, @script_step.steps.build do |steps_fields| %>
    <%#= steps_fields.text_field :name_step %>
    <% unless @stepss.empty? %>
      <p>
        <%= select_tag(:step, options_for_select(@stepss)) %>
      </p>
      <%= f.submit %>
    <%else%>
      <p>Нет новых шагов для добавления</p>
      <%= link_to 'Back', script_steps_path %>
    <%end%>
      <br>
  <% end %>
<% end %>