
<h1>Listing SciptSteps</h1>
<p>Find me in app/views/script_steps/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Name Script</th>
      <th>Name Step</th>
      <th>Steps</th>
      <th>Exec Script</th>
      <th>Steps</th>
      <th>All scripts description</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @script_steps.each do |script_step| %>
      <tr>
        <td><%= script_step.script_name %></td>
        <td><%= script_step.name_step %></td>
        <td><%= script_step.steps %></td>
        <td><%= script_step.exec_script %></td>
        <td><%= script_step.all_scripts_description %></td>

        <td><%= link_to "Show", script_step %></td>
        <td><%= link_to "Edit", edit_script_step_path(script_step) %></td>
        <td><%= link_to "Destroy",script_step, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New script step", new_script_step_path %>
