<h1>ScriptSteps#new</h1>
<p>Find me in app/views/script_steps/new.html.erb</p>

<%= form_with scope: :script_step, url: script_steps_path, local: true do |form| %>
  <p>
    <%= form.label :script_name %><br>
    <%= form.text_field :script_name %>
  </p>
  <p>
    <%= form.label :name_step %><br>
    <%= form.text_field :name_step %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>