<h1>Listing AllDescriptions</h1>

<table>
  <thead>
    <tr>
      <th>Name Script</th>
      <th>Steps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_scripts_descriptions.each do |script| %>
      <tr>
        <td><%= script.name_script %></td>
        <td><%= script.steps %></td>
        <td><%= link_to "Show", script %></td>
        <td><%= link_to "Edit", edit_all_scripts_description_path(script) %></td>
        <td><%= link_to "Destroy", all_scripts_description, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New script description", new_all_scripts_description_path %>
