<h1>AllScriptsDescriptions#new</h1>
<%= form_with scope: :all_scripts_description, url: all_scripts_descriptions_path, local: true do |form| %>
  <p>
    <%= form.label :name_script %><br>
    <%= form.text_field :name_script %>
  </p>

  <p>
    <%= form.label :steps %><br>
    <%= form.text_area :steps %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
