<%= form_with(model: step_description, local: true) do |form| %>
  <% if step_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step_description.errors.count, "error") %> prohibited this step_description from being saved:</h2>

      <ul>
      <% step_description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :script %>
    <%= form.text_field :script %>
  </div>

  <div class="field">
    <%= form.label :steps %>
    <%= form.text_area :steps %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
