<p id="notice"><%= notice %></p>

<h1>Step Descriptions</h1>

<table>
  <thead>
    <tr>
      <th>Script</th>
      <th>Steps</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @step_descriptions.each do |step_description| %>
      <tr>
        <td><%= step_description.script %></td>
        <td><%= step_description.steps %></td>
        <td><%= link_to 'Show', step_description %></td>
        <td><%= link_to 'Edit', edit_step_description_path(step_description) %></td>
        <td><%= link_to 'Destroy', step_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step Description', new_step_description_path %>
