<p id="notice"><%= notice %></p>

<p>
  <strong>Script:</strong>
  <%= @step_description.script %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @step_description.steps %>
</p>

<%= link_to 'Edit', edit_step_description_path(@step_description) %> |
<%= link_to 'Back', step_descriptions_path %>
